repos:
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.8.0
  hooks:
  - id: mypy
    additional_dependencies:
    - pytest
    - sdmx1
    - starlette
    args: []
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.3.7
  hooks:
  - id: ruff
  - id: ruff-format
    args: [ --check ]
