name: Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:  # 05:00 UTC = 06:00 CET = 07:00 CEST
  - cron: "0 5 * * *"

# Cancel previous runs that have not completed
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  pytest:
    strategy:
      matrix:
        os:
        - ubuntu-latest
        python-version:
        - "3.11"  # Earliest supported version
        - "3.12"  # Latest supported version
        # commented: only enable once next Python version enters RC
        # - "3.13.0-rc.1"  # Development version

      fail-fast: false

    runs-on: ${{ matrix.os }}
    name: ${{ matrix.os }}-py${{ matrix.python-version }}

    steps:
    - uses: actions/checkout@v4

    - name: Checkout test data
      uses: actions/checkout@v4
      with:
        repository: khaeru/sdmx-test-data
        path: sdmx-test-data

    - uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
        cache: pip
        cache-dependency-path: "**/pyproject.toml"

    - name: Upgrade pip
      run: python -m pip install --upgrade pip

    - name: Install the Python package and dependencies
      run: pip install .[tests]

    - name: Run pytest
      env:
        SDMX_TEST_DATA: ./sdmx-test-data/
      run: |
        pytest dsss \
          -ra --color=yes --verbose \
          --cov-report=xml \
          --numprocesses auto
      shell: bash

    - name: Upload test coverage to Codecov.io
      uses: codecov/codecov-action@v4
      with: { token: "${{ secrets.CODECOV_TOKEN }}" }

  pre-commit:
    name: Code quality

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with: { python-version: 3.x }

    - name: Force recreation of pre-commit virtual environment for mypy
      if: github.event_name == 'schedule'  # Comment this line to run on a PR
      run: gh cache list -L 999 | cut -f2 | grep pre-commit | xargs -I{} gh cache delete "{}" || true
      env: { GH_TOKEN: "${{ github.token }}" }

    - uses: pre-commit/action@v3.0.1
